.page-wrapper{
    padding-top: 150px;
    padding-bottom: 40px;
    .single{
        background-color: rgb(241, 241, 241);
        max-width: 700px;
        border-radius: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        .post-img{
            width: 60%;
            margin-bottom: 30px;
        }
        .post-title{
            font-family: 'Poping-bold';
            font-size: 40px;
            font-style: normal;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .post-content{
            padding-bottom: 10px;
            p{
                font-family: 'Poping-rugelar';
                font-size: 17px;
                font-style: normal;
                line-height: 24px;
                
            }
        }
    }
}